/*Media queries*/
@media only screen and (max-width: 992px){
    .collage{
        margin-top: 15rem !important;
        
    }
    .company-description{
        margin-top: 1rem !important;
    }
    }
   
    @media only screen and (min-width: 768px) {
        
    }
    body {
        font-family: 'Montserrat', sans-serif; }

/*1.Banner design*/
.menu-btn {
    position: absolute;
    z-index: 1;
    right: 35px;
    top: 35px;
    margin-top:2rem;
    cursor: pointer;
}
.btn-line {
    width: 28px;
    height: 3px;
    margin: 0 0 5px 0;
    background:white;
}

.banner{
    background-image: url(img/banner.jpg);
    height: 40rem;
    background-size: cover;
    background-position: center;
    overflow: hidden;
}

.brand{
    margin-top: 3rem;
    margin-left: 4rem;
}

.brand-name{
    font-size:1rem;
    color: white;
    padding-top: 0.5rem;
}
.brand-name>h3{
    font-weight: 400;
}
.brand-logo{
    color:white;
    margin-right: 1rem;
}
.sub-heading{
    margin-top: 14rem;
    margin-left: 3rem;
    color:white;
}
.sub-heading>h6{
    font-weight: 200;
}
.sub-heading>h1{
    font-weight: 900;
}
.navigator-button-1{
    margin-top: 3rem;
}

/*2.COMPANY DETAILS WITH VIDEO*/
.showreel{
    height: 45rem;
    
}

.video{
     margin-top: 7rem;
     margin-left:0;
     margin-right: 0rem;
     /*box-shadow: 0.5rem 0.5rem 0.5rem 0.5rem lightgray;*/
     border: 2px solid white;
     border-radius: 15px;
     padding: 20px 45px;
     box-shadow: 0 0 15px 15px rgba(241,241,241, 0.8);

    
}
.company-description{
    margin-top:12rem;
    margin-left: 3rem;
    margin-right: 3rem;
}
.company-description>h6{
    color: grey;
}
.company-description>h2{
    letter-spacing: 6px;
    font-weight: 700;
    font-size:x-large;
}
.company-description>p{
    margin-top: 3rem;
    margin-bottom: 3rem;
    color: grey;
}
.play>span{
    font-weight: 300;
    margin-left: 2.5rem;
    color: grey;
}

.play{
    display:flex;
    align-items: center;
}

/*3.COLLAGE*/
.collage{
    overflow: hidden;
    width: 100%;
    padding-left: 0;
    padding-right: 0;
}

/*4.EXPERTISE*/
.technologies{
    height: 40rem;
}
.good-things-1{
   margin-top: 10rem; 
}
.good-things-2{
    margin-top: 6rem;
}
.good-things-title{
    margin-left: 3rem;
}
.good-things-title>h3{
    font-weight: 900;
    letter-spacing: 0.5rem;
}
.good-things-title>h6{
    color: grey;
    font-size:8pt ;
}
.retina-display>p,.industrial-design>p,.video-tutorial>p,.save-time>p{
    color:grey;
}
.retina-display,.industrial-design,.video-tutorial,.save-time{
    padding-left: 4rem;
}
.retina-display>i,.industrial-design>i,.video-tutorial>i,.save-time>i{
    color:lightgrey;
    margin-bottom: 2rem;
}
.retina-display>h6,.industrial-design>h6,.video-tutorial>h6,.save-time>h6{
font-size: 9pt;
font-weight:bolder;
color: black;
letter-spacing: 0.2rem;

}
/*Clients*/
.clients{
    background-color: black;
    height: 25rem;
}
